<!--<h1>Login</h1>-->

<!--<div class="bg-warning p-5" *ngIf="message">{{message}}</div>-->

<!--<form #userForm="ngForm">-->

<!--  <div class="form-group">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="name" name="name">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="password">Password</label>-->
<!--    <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="password" name="password">-->
<!--  </div>-->

<!--  <button type="button" class="btn btn-primary" (click)="onSubmit()">Login</button>-->

<!--</form>-->


<!--<div class="row justify-content-center bg-light">-->
<!--  <div class=" bg-white  rounded  border border-dark p-3 m-5 w-25">-->
<!--  <div class="row justify-content-center">-->
<!--    <button type="button" class="HighLeftBtn button-1x btn-lg m-3">Pay My Buddy</button>-->
<!--  </div>-->
<!--  <br>-->
<!--  <form>-->
<!--    <div>-->
<!--      <input type="text" placeholder="Email" class="form-control text-left border border-dark" id="email"  name="email">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--      <input type="password" placeholder="Password" class="form-control text-left border border-dark" id="password"  name="password">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="row justify-content-center">-->
<!--      <input type="checkbox" class="checkbox-1x" label="Remember me"   id="remember"  name="remember">-->
<!--      <label class="form-check-label" for="remember">&nbsp; Remember me</label>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <div class="row justify-content-center">-->
<!--      <button type="button" class="btn btn-primary m-3" id="valid" name="valid">&nbsp; &nbsp; &nbsp;  Login &nbsp; &nbsp; &nbsp;</button>-->
<!--    </div>-->
<!--  </form>-->
<!--  </div>-->
<!--</div>-->
