<div class="row justify-content-center bg-light">
  <div class=" bg-white  rounded  border border-dark p-3 m-5 w-25">
    <div class="row justify-content-center">
      <button type="button" class="HighLeftBtn button-1x btn-lg m-3">Pay My Buddy</button>
    </div>
    <br>
    <form #userForm="ngForm">
      <div>

        <input id           = "email"
               type         = "email"
               name         = "email"
               class        = "form-control text-left border border-dark"
               placeholder  = "Email"
               [(ngModel)]  = "email"
       />

      </div>
      <br>
      <div>

        <input id           = "password"
               type         = "password"
               name         = "password"
               class        = "form-control text-left border border-dark"
               placeholder  = "* Password"
               [(ngModel)]  = "password"
        />

      </div>
      <br>
      <div class = "row justify-content-center">

        <input id           = "remember"
               type         = "checkbox"
               name         = "remember"
               class        = "checkbox-1x"
        >

        <label class        = "form-check-label"
               for          = "remember"
        >
                &nbsp; Remember me
        </label>

      </div>
      <br>

      <div class = "row justify-content-center">
        <button type        = "button"
                class       = "btn btn-primary m-3"
                id          = "valid"
                name        = "valid"
                (click)     = "onSubmit()"
        >
          &nbsp; &nbsp; &nbsp; Login &nbsp; &nbsp; &nbsp;
        </button>
      </div>
      <br>
      <div class = "row justify-content-end">
        <label>
          <a class="nav-link ptn text-primary"  (click)="navigateToRegister()"><u>Not Yet Registered</u></a>
        </label>
      </div>
    </form>
  </div>
</div>
