<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <button type="button" class="HighLeftBtn btn-lg no-button" >Pay My Buddy</button>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" >Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link ptn"  (click)="navigateToAccount()">Account</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link ptn"  (click)="navigateToTransfert()">Transfert</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" >Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" >Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link ptn" (click)="logOff()">Log in/off</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-my">
  <span class="text-primary">Home &nbsp; /<span  class="text-secondary">&nbsp;&nbsp; {{navigation}}</span></span>

  <div *ngIf="this.dataService.client && this.authService.isAuthenticated" class="collapse navbar-collapse" id="navbar">

    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" ><span class="font-weight-bold">{{this.dataService.client.name}}</span>, your Balance Account : <span class="font-weight-bold">{{this.dataService.client.balance | number :'1.2-2'}} €</span></a>
      </li>
    </ul>
  </div>
</nav>
