<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <button type="button" class="HighLeftBtn btn-lg" >Pay My Buddy</button>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Transfert</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Log off</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="text-primary">Home &nbsp; /<span class="text-secondary">&nbsp;&nbsp; Transfer</span></span>
</nav>
