<div class="row justify-content-between">

  <div class="text-dark row justify-content-start" >
    <h6>&nbsp; &nbsp; Send Money</h6>
  </div>

  <div class="justify-content-end">
    <a href="" class="btn btn-primary btn-sm font-weight-bold">&nbsp; Add Connection &nbsp;</a>
  </div>

</div>


<div class="row justify-content-center bg-light p-5">
  <form class="form-inline">

    <div class="form-group">

      <select class="form-control border border-dark" id="connection" name="connection">
        <option>Select A Connection</option>
      </select>
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="form-group">
      <input type="text" placeholder="Description" class="form-control text-center border border-dark" id="description"  name="description" value="">
    </div>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="form-group">
      <input type="number" placeholder="Amount" class="form-control text-right border border-dark" id="amount"  name="amount">
      <div class="input-group-addon" >&nbsp;€</div>
    </div>


    &nbsp; &nbsp; &nbsp; &nbsp;
    <div>
      <button type="button" class="btn btn-success font-weight-bold" id="valid" name="valid">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Pay &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</button>
    </div>

  </form>
</div>

<br/>

<div class="row justify-content-between text-dark"><h6>My Transactions</h6></div>
<div class="row justify-content-between">
  <table class="table table-striped text-center border border-dark">
    <thead class="p-3 mb-2 bg-success text-white">
      <tr>
        <th scope="col" >Connection</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Haley</td>
        <td>Restaurant bill share</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Clara</td>
        <td>Trip Money</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Smith</td>
        <td>Movie tickets</td>
        <td>8</td>
      </tr>
    </tbody>
  </table>
</div>
