<br/><br/>
<div class="text-dark row justify-content-center" >
  <h2>Manage Your Account</h2>
</div>
<br/>
<br/>
<div class="row justify-content-between">

  <div class="text-dark row justify-content-start" >
    <h6>&nbsp; &nbsp; Manage Your Connections</h6>
  </div>

<!--  <div class="justify-content-end">-->
<!--    <button class="btn btn-primary btn-sm font-weight-bold" (click)="navigateToTransfert()">&nbsp; &nbsp; Do Transaction &nbsp;</button>-->
<!--  </div>-->
</div>


<div class="row justify-content-center bg-my p-5">

  <form  class="form-inline"   (ngSubmit)="onSubmitConnectionForm()" >

    <div class="form-group">
      <select id   ="connectionId"
              name ="connectionName"
              class="form-control border border-dark"  [(ngModel)]="newConnection" >
        <option [ngValue]="null" value="undefined" disabled selected>Select A Connection </option>
        <option *ngFor="let connection of getConnections()" [ngValue]="connection"   name="selectedConnection"  >{{connection.name}}</option>
      </select>
    </div>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    <div>
      <button type="submit"     class="btn btn-success font-weight-bold">&nbsp; &nbsp; Add Connection &nbsp; &nbsp;</button>
    </div>
  </form>
</div>

<br/>
<br/>
<br/>

<div class="text-dark row justify-content-start" >
  <h6>Manage Your Balance</h6>
</div>


<div class="row justify-content-center bg-my p-5">

  <form  class="form-inline"   (ngSubmit)="onSubmitBalanceForm()" >

    <div class="form-group">
      <select id   ="operationId"
              name ="operationName"
              class="form-control border border-dark"  [(ngModel)]="operation" >
        <option [ngValue]="null" value="undefined" disabled selected>Select An Operation</option>
        <option value="Withdrawal">Withdrawal</option>
        <option value="Remittance">Remittance </option>
      </select>&nbsp; &nbsp; &nbsp; &nbsp;
      <div class="form-group">
        <input id="amount"   type="number" name="amount" min="1"    placeholder="Amount"  [(ngModel)]="amount"  class="form-control text-right border border-dark">
        <div class="input-group-addon" >&nbsp;€</div>
      </div>
    </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div>
      <button type="submit" class="btn btn-success font-weight-bold">&nbsp; &nbsp; &nbsp; &nbsp; Execute &nbsp; &nbsp; &nbsp; &nbsp;</button>
    </div>
  </form>
</div>
